/* General page styles */
body {
    font-family: Arial, sans-serif; /* Font family for the page */
    margin: 0; /* No margin around the page */
    padding: 0; /* No padding inside the page */
    background-color: #fff; /* White background color for the page */
    display: flex; /* Flex display to align items horizontally */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    height: 100vh; /* Full viewport height */
}

/* Styles for the main content container */
.container {
    max-width: 600px; /* Maximum width of the container */
    padding: 20px; /* Padding around the container */
    text-align: center; /* Center align the content */
}

/* Styles for the Google logo */
.logo img {
    width: 50%; /* Logo width is 50% of its container */
    height: auto; /* Auto height to maintain aspect ratio */
}

/* Styles for the search bar */
.search-bar {
    margin-top: 20px; /* Top margin for the search bar */
    position: relative; /* Relative position for the search bar */
}

/* Styles for the search input */
#search-input {
    width: calc(100% - 60px); /* Full width minus 60 pixels */
    padding: 12px; /* Padding inside the input field */
    font-size: 16px; /* Font size of the input text */
    border: 1px solid #ccc; /* Border color and thickness */
    border-radius: 50px; /* Rounded corners of the input field */
    transition: box-shadow 0.3s ease; /* Smooth transition for the box shadow */
    padding-left: 30px; /* Left padding inside the input field */
}

/* Hover style for the search input */
#search-input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow on hover */
}

/* Styles for buttons  */
#buttons {
    margin-top: 10px; /* Top margin for the buttons */
    padding: 10px 15px; /* Padding inside the buttons */
    font-size: 16px; /* Font size of the button text */
    cursor: pointer; /* Pointer cursor on hover */
    border: none; /* No border for the buttons */
    background-color: #F8F9FA; /* Background color of the buttons */
    transition: box-shadow 0.3s ease, border 0.3s ease; /* Smooth transition for the box shadow and border */
    color: #000; /* Text color for the buttons */
    border-radius: 8px; /* Rounded corners for the buttons */
}

/* Hover style for buttons */
#buttons:hover {
    background-color: #F0F1F3; /* Background color change on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
    border: 1px solid #ccc; /* Border appearance on hover */
}
